@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>title</title>
</head>
<body onload="window.postMessage('hello, my dear friend', '*'); window.close();">
<h1>Success auth. Please, close the window.</h1>
</body>
</html>